{% extends "base.html" %} {% block title %}App2 | Enfermedades{% endblock %} {% block options %}
<li><a href="{{ url_for('main.dashboard.index') }}" title="Panel">PANEL</a></li>
<li><a href="{{ url_for('main.users.index') }}" title="Usuarios">USUARIOS</a></li>
<li><a class="active" href="{{ url_for('main.diseases.index') }}" title="Enfermedades">ENFERMEDADES</a></li>
<li><a href="{{ url_for('main.advices.index') }}" title="Consejos">CONSEJOS</a></li>
<li><a href="{{ url_for('main.records.index') }}" title="Registros">REGISTROS</a></li>
<li><a href="{{ url_for('main.notifications.index') }}" title="Notificaciones">NOTIFICACIONES</a></li>
<li><a href="{{ url_for('main.admins.index') }}" title="Administradores">ADMINISTRADORES</a></li>
{% endblock %} {% block section %}Enfermedades{% endblock %} {% block button %}
<button id="open-modal-create" class="btn-primary" title="Agregar enfermedad">AGREGAR ENFERMEDAD</button>
{% endblock %} {% block content %}
<table class="content-table">
  <thead>
    <tr>
      <th class="col-id">ID</th>
      <th class="col-name">Nombre enfermedad</th>
      <th class="col-description">Descripción</th>
      <th class="col-button">Referencia</th>
      <th class="col-button">Editar</th>
      <th class="col-button">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for disease in diseases %}
    <tr>
      <td>{{ disease[0] }}</td>
      <td>{{ disease[1] }}</td>
      <td>{{ disease[2] }}</td>
      <td>
        <button class="show-image-btn" data-api-url="{{api_url_images}}" data-image-name="{{ disease[3] }}" title="Ver imagen">
          <i class="bx bxs-file-image"></i>
        </button>
      </td>
      <td>
        <button class="update-btn" data-id="{{ disease[0] }}" data-name="{{ disease[1] }}" data-description="{{ disease[2] }}" title="Editar enfermedad">
          <i class="bx bxs-edit-alt"></i>
        </button>
      </td>
      <td>
        <form class="form-delete" method="POST" action="{{ url_for('main.diseases.delete_disease', id=disease[0]) }}">
          <button class="delete-btn" type="submit" title="Elimnar enfermedad">
            <i class="bx bxs-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  {% if page > 1 %}
  <a href="{{ url_for('main.diseases.index', page=page-1) }}" title="Anterior">Anterior</a>
  {% endif %}

  <span>Página {{ page }} de {{ total_pages }}</span>

  {% if page < total_pages %}
  <a href="{{ url_for('main.diseases.index', page=page+1) }}" title="Siguiente">Siguiente</a>
  {% endif %}
</div>

<div class="modal" id="modal-create">
  <div class="modal-content">
    <button class="close-btn" id="close-modal-create" title="Cerrar"><i class="bx bx-x"></i></button>
    <h1>Agregar Enfermedad</h1>
    <form method="post" action="/diseases/add_disease" enctype="multipart/form-data">
      <input type="text" id="name" name="name" placeholder="Nombre de la enfermedad" autocomplete="off" required />
      <textarea id="description" name="description" placeholder="Descripción de la enfermedad" rows="4" autocomplete="off" required></textarea>
      <input type="file" id="image" name="image" accept="image/*" required />
      <button class="btn-primary" type="submit" title="Guardar">Guardar</button>
    </form>
  </div>
</div>

<div class="modal" id="modal-update">
  <div class="modal-content">
    <button class="close-btn" id="close-modal-update" title="Cerrar"><i class="bx bx-x"></i></button>
    <h1>Actualizar Enfermedad</h1>
    <h1>ID: <span id="id-disease"></span></h1>
    <form method="post" id="updateForm" enctype="multipart/form-data">
      <input type="text" id="name" name="name" placeholder="Nombre de la enfermedad" autocomplete="off" required />
      <textarea id="description" name="description" placeholder="Descripción de la enfermedad" rows="4" autocomplete="off" required></textarea>
      <label for="image">Actualizar Imagen (opcional):</label>
      <input type="file" id="image" name="image" accept="image/*" />
      <button class="btn-primary" type="submit" title="Guardar">Guardar</button>
    </form>
  </div>
</div>

<div class="modal" id="modal-image">
  <div class="modal-content">
    <button class="close-btn" id="close-modal-image" title="Cerrar"><i class="bx bx-x"></i></button>
    <h1>Referencia</h1>
    <img id="ref-image" src="" alt="Imagen de la enfermedad" style="max-width: 500px; max-height: 500px" />
  </div>
</div>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/diseases.js') }}"></script>
{% endblock %}
