{% extends "base.html" %} {% block title %}App2 | Panel{% endblock %} {% block options %}
<li><a class="active" href="{{ url_for('main.dashboard.index') }}" title="Panel">PANEL</a></li>
<li><a href="{{ url_for('main.users.index') }}" title="Usuarios">USUARIOS</a></li>
<li><a href="{{ url_for('main.diseases.index') }}" title="Enfermedades">ENFERMEDADES</a></li>
<li><a href="{{ url_for('main.advices.index') }}" title="Consejos">CONSEJOS</a></li>
<li><a href="{{ url_for('main.records.index') }}" title="Registros">REGISTROS</a></li>
<li><a href="{{ url_for('main.notifications.index') }}" title="Notificaciones">NOTIFICACIONES</a></li>
<li><a href="{{ url_for('main.admins.index') }}" title="Administradores">ADMINISTRADORES</a></li>
{% endblock %} {% block section %}Panel{% endblock %} {% block content %}
<div class="content-dashboard">
  <div class="box">
    <h1>Top Usuarios</h1>
    <div class="table-wrapper">
      <table class="table-dashboard">
        <thead>
          <tr>
            <th class="col-num-dash">#</th>
            <th class="col-id-dash">ID</th>
            <th class="col-username-dash">Nombre de usuario</th>
            <th class="col-count-dash">N° Registros</th>
          </tr>
        </thead>
        <tbody>
          {% for user in top_users %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="box">
    <h1>Top Enfermedades</h1>
    <div class="table-wrapper">
      <table class="table-dashboard">
        <thead>
          <tr>
            <th class="col-num-dash">#</th>
            <th class="col-id-dash">ID</th>
            <th class="col-username-dash">Enfermedad</th>
            <th class="col-count-dash">N° Registros</th>
          </tr>
        </thead>
        <tbody>
          {% for user in top_diseases %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="box">
    <h1>Consejos por Enfermedad</h1>
    <div class="table-wrapper">
      <table class="table-dashboard">
        <thead>
          <tr>
            <th class="col-num-dash">#</th>
            <th class="col-id-dash">ID</th>
            <th class="col-username-dash">Enfermedad</th>
            <th class="col-count-dash">N° Consejos</th>
          </tr>
        </thead>
        <tbody>
          {% for record in advices_count %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="box">
    <h1>Estadísticas Generales</h1>
    <div class="table-wrapper">
      <table class="table-dashboard">
        <thead>
          <tr>
            <th class="col-num-dash">#</th>
            <th class="col-section-name-dash">Sección</th>
            <th class="col-count-dash">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          {% for table in global_count %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ table[0] }}</td>
            <td>{{ table[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
