{% extends "base.html" %} {% block title %}App2 | Notificaciones{% endblock %} {% block options %}
<li><a href="{{ url_for('main.dashboard.index') }}" title="Panel">PANEL</a></li>
<li><a href="{{ url_for('main.users.index') }}" title="Usuarios">USUARIOS</a></li>
<li><a href="{{ url_for('main.diseases.index') }}" title="Enfermedades">ENFERMEDADES</a></li>
<li><a href="{{ url_for('main.advices.index') }}" title="Consejos">CONSEJOS</a></li>
<li><a href="{{ url_for('main.records.index') }}" title="Registros">REGISTROS</a></li>
<li><a class="active" href="{{ url_for('main.notifications.index') }}" title="Notificaciones">NOTIFICACIONES</a></li>
<li><a href="{{ url_for('main.admins.index') }}" title="Administradores">ADMINISTRADORES</a></li>
{% endblock %} {% block section %}Notificaciones{% endblock %} {% block button %}
<button id="open-modal-create" class="btn-primary" title="Agregar notificación">AGREGAR NOTIFICACIÓN</button>
{% endblock %} {% block content %}
<table class="content-table">
  <thead>
    <tr>
      <th class="col-id">ID</th>
      <th class="col-title">Título</th>
      <th class="col-description-2">Descripción</th>
      <th class="col-button">Editar</th>
      <th class="col-button">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for notification in notifications %}
    <tr>
      <td>{{ notification[0] }}</td>
      <td>{{ notification[1] }}</td>
      <td>{{ notification[2] }}</td>
      <td>
        <button class="update-btn" data-id="{{ notification[0] }}" data-title="{{ notification[1] }}" data-description="{{ notification[2] }}" title="Editar notificación">
          <i class="bx bxs-edit-alt"></i>
        </button>
      </td>
      <td>
        <form class="form-delete" method="POST" action="{{ url_for('main.notifications.delete_notification', id=notification[0]) }}">
          <button class="delete-btn" type="submit" title="Eliminar notificación">
            <i class="bx bxs-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  {% if page > 1 %}
  <a href="{{ url_for('main.notifications.index', page=page-1) }}" title="Anterior">Anterior</a>
  {% endif %}

  <span>Página {{ page }} de {{ total_pages }}</span>

  {% if page < total_pages %}
  <a href="{{ url_for('main.notifications.index', page=page+1) }}" title="Siguiente">Siguiente</a>
  {% endif %}
</div>

<div class="modal" id="modal-create">
  <div class="modal-content">
    <button class="close-btn" id="close-modal-create" title="Cerrar"><i class="bx bx-x"></i></button>
    <h1>Agregar Notificación</h1>
    <form method="POST" action="/notifications/add_notification">
      <input type="text" id="title" name="title" placeholder="Título de la notificación" autocomplete="off" required />
      <textarea id="description" name="description" placeholder="Descripción de la notificación" rows="4" autocomplete="off" required></textarea>
      <button class="btn-primary" type="submit" title="Guardar">Guardar</button>
    </form>
  </div>
</div>

<div class="modal" id="modal-update">
  <div class="modal-content">
    <button class="close-btn" id="close-modal-update" title="Cerrar"><i class="bx bx-x"></i></button>
    <h1>Actualizar Notificación</h1>
    <h1>ID: <span id="id-notification"></span></h1>
    <form method="post" id="updateForm">
      <input type="text" id="title" name="title" placeholder="Título de la notificación" autocomplete="off" required />
      <textarea id="description" name="description" placeholder="Descripción de la notificación" rows="4" autocomplete="off" required></textarea>
      <button class="btn-primary" type="submit" title="Guardar">Guardar</button>
    </form>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
{% endblock %}
