<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Consejos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Listado de Consejos</h1>

    <!-- Formulario para agregar un nuevo consejo -->
    <form method="POST" action="{{ url_for('advices.index') }}">
        <input type="text" name="name_disease" placeholder="Nombre" required>
        <input type="text" name="description" placeholder="Descripción" required>
        <button type="submit">Agregar Consejo</button>
    </form>

    <!-- Listado de consejos -->
    <ul>
        {% for advice in advices %}
            <li>
                <strong>{{ advice[1] }}</strong> - {{ advice[2] }}
                <form method="POST" action="{{ url_for('advices.delete_advice', id=advice[0]) }}" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">
        <button>Volver a Inicio</button>
    </a>
</body>
</html>
