<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
  </head>

  <body>
    <div class="header-menu">
      <div class="header-menu-username">
        <i class="bx bx-user-circle"></i>
        <div>
          <span>Administrador</span>
          <a class="btn-small" href="{{ url_for('main.login.index') }}" title="Cerrar sesión">Cerrar sesión</a>
        </div>
      </div>
      <div class="header-menu-options">
        <ul class="nav-list">
          {% block options %}{% endblock %}
        </ul>
      </div>
    </div>
    <div class="div-buttons">
      <span> {% block section %}{% endblock %} </span>
      {% block button %}{% endblock %}
    </div>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">
      <i class="bx bx-copyright"></i>
      <span>2024 App2</span>
    </div>
    {% block script %}{% endblock %}
  </body>
</html>
